/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*-----General Styling-----*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    background: hsl(20, 6%, 9%) url("img\78786.svg") no-repeat fixed center;
}

h1 {
    color: #debce6;
}

h2 {
    color: #debce6;
}

h3 {
    color: #debce6;
}

p{
    color: #d8ddefff;
}

h1 {
    font-size: 1.5em;
    font-weight: 800;
}


/*-----Profile-box-----*/


.profile-box {
    padding: 100px 50px;
    max-width:700px;
    margin: 8% auto; ;
}

.profile-blurb {
    margin-top: 50px;
}

.profile-picture {
    padding: 20px;
    float: left;
    height: auto;
    width: 50%;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    border-left: #debce6 5px solid;
    border-top: #debce6 5px solid;
}


/*-----Nav-Bar-----*/

.logo1 {
    width:200px;
    max-height: 60px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.nav-bar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.nav-bar:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.nav-box{
    list-style: none;
}

.nav-box li{
    display: inline-block;
    margin-left: 15px;
}

li>a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #debce6;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.5s ease;
    -o-transition: border-bottom 0.5s ease;
    transition: border-bottom 0.5s ease;
    -webkit-transition: padding-bottom 0.5s ease;
    -o-transition: padding-bottom 0.5s ease;
    transition: padding-bottom 0.5s ease;
}

a:hover{
    color:#d8ddefff;
}

a:focus{
    color:#d8ddefff;
}

li>a:hover{
    border-bottom: 3px solid #d8ddefff;
    padding-bottom: 5px;
}

li>a:focus{
    border-bottom: 3px solid #d8ddefff;
    padding-bottom: 5px;
}

.current_page {
    border-bottom: 3px solid #debce6;
    padding-bottom: 5px;
}

/*----About Me-----*/

.about {
    text-align: center;
    margin-top: 70px;
}

.stats {
    margin: 100px auto;
}


/*Remember to delete this later*/

thead {
    background-color: #c19aca;
}
tbody {
    background-color: #debce6;
}
th {
    padding: 20px;
}
td {
    padding: 10px 12px 10px 5px;
}


/*----Work Page-----*/

.workpage {
    margin: 7% 20px;
}

.workpage>h1 {
    text-align: center;
}

/*Grid*/


.grid {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}

.grid_square {
    padding: 12px;
    border: solid 2px #c19aca
}

.grid_square:last-child{
    grid-column: 3;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    grid-row: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

/*-----Contact Page-----*/


.contact{
    margin-top: 150px;
}

.contact-card {
    margin:150px ;
    text-align: center;
}

.contact-form {
    display: block;
    text-align: center;
}


.phone-label, .email-label {
    margin: 50px;
}

.email-label {
    margin-right: 58px;
}


#msg-email, #msg-tel {
    font-family: sans-serif;
    border:none;
    background-color: transparent;
    color: #d8ddefff;
    padding: 10px;
    border-bottom: solid #debce6;
}

textarea {
    border: solid 5px #debce6;
    width: 50%;
    min-width: 300px;
    height: 150px;
    margin: 20px 0;
    color: #d8ddefff;
    background-color: transparent;
    font-family:sans-serif;
    padding: 6px;
}

/*-----Buttons-----*/

label {
    cursor: pointer;
    text-decoration: none;
    color: #debce6;
}

input[type=submit] {
    border: none;
    font-family: inherit;
    text-decoration: none;
    padding: 10px;
    background: #debce6;
    border-radius: 3px;
    border-bottom: 4px solid #c19aca;
    cursor: pointer;
    width: 10%;
    min-width: 100px;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    margin-bottom: 20px;
}
input[type=submit]:hover{
    background-color: #d8ddefff;
}
input[type=submit]:focus{
    background-color: #d8ddefff;
}



/*-----Footer links-----*/

.index-footer {
    background: hsl(20, 6%, 9%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 15px;
    clear: both;
}

.footer-scroll{
    position: absolute;
}

.link-box>a {
    padding: 10px;
}

a>svg {
    fill: #debce6;
    -webkit-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

a>svg:focus{
    fill: #d8ddefff;
}

a>svg:hover{
    fill: #d8ddefff;
}

/*-----Animations-----*/

@-webkit-keyframes twinkle {
    50%{
        fill: #d8ddefff;
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        fill: #c19aca;
    }
   
}

@keyframes twinkle {
    50%{
        fill: #d8ddefff;
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        fill: #c19aca;
    }
   
}

@-webkit-keyframes twinkle2 {
    50%{
        fill: #c19aca;
        opacity: 100%;
    }
    100%{
        opacity: 30%;
        fill: #d8ddefff;
    }
    
}

@keyframes twinkle2 {
    50%{
        fill: #c19aca;
        opacity: 100%;
    }
    100%{
        opacity: 30%;
        fill: #d8ddefff;
    }
    
}

@-webkit-keyframes wind2{
    from{
        -webkit-transform: matrix(0.40,0,0,0.40,-160,40);
                transform: matrix(0.40,0,0,0.40,-160,40);
    }
    to {
        -webkit-transform: matrix(0.40,0,0,0.40,1094,40);
                transform: matrix(0.40,0,0,0.40,1094,40);
    }
}

@keyframes wind2{
    from{
        -webkit-transform: matrix(0.40,0,0,0.40,-160,40);
                transform: matrix(0.40,0,0,0.40,-160,40);
    }
    to {
        -webkit-transform: matrix(0.40,0,0,0.40,1094,40);
                transform: matrix(0.40,0,0,0.40,1094,40);
    }
}

@-webkit-keyframes wind {
    from {
      -webkit-transform: matrix(0.30,0,0,0.30,959,135);
              transform: matrix(0.30,0,0,0.30,959,135);
    }
    to {
      -webkit-transform: matrix(0.30,0,0,0.30,-179,135);
              transform: matrix(0.30,0,0,0.30,-179,135);
    }
}

@keyframes wind {
    from {
      -webkit-transform: matrix(0.30,0,0,0.30,959,135);
              transform: matrix(0.30,0,0,0.30,959,135);
    }
    to {
      -webkit-transform: matrix(0.30,0,0,0.30,-179,135);
              transform: matrix(0.30,0,0,0.30,-179,135);
    }
}

/*-----Cityscape-----*/

#Star{
    fill: #c19aca;
    -webkit-animation: 4s twinkle infinite ease-in-out;
            animation: 4s twinkle infinite ease-in-out;
}

#Star1{
    fill: #c19aca;
    -webkit-animation: 4s twinkle infinite ease-in-out;
            animation: 4s twinkle infinite ease-in-out;
}

#Star3{
    fill: #c19aca;
    -webkit-animation: 4s twinkle infinite ease-in-out;
            animation: 4s twinkle infinite ease-in-out;
}

#Star {
    fill: #d8ddefff;
    opacity: 30%;
    -webkit-animation: 4s twinkle2 infinite ease-in-out;
            animation: 4s twinkle2 infinite ease-in-out;
}

#Star2 {
    fill: #d8ddefff;
    opacity: 30%;
    -webkit-animation: 4s twinkle2 infinite ease-in-out;
            animation: 4s twinkle2 infinite ease-in-out;
}

#Star4 {
    fill: #d8ddefff;
    opacity: 30%;
    -webkit-animation: 4s twinkle2 infinite ease-in-out;
            animation: 4s twinkle2 infinite ease-in-out;
}

#Cloud1 {
    fill: #debce6;
    -webkit-animation: 100s wind infinite linear;
            animation: 100s wind infinite linear;
}

#Cloud {
    fill: #debce6;
    -webkit-animation: 150s wind2 infinite linear;
            animation: 150s wind2 infinite linear;
}

#Moon {
    fill: #d8ddefff;
}

/*------------------------ Mobile Responsive --------------------------*/

/*-----Grid Adjust-----*/

@media all and (max-width:750px){

    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin: 0 auto;
        justify-items: center;
    }

    .grid_square:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .grid_square {
        padding: 10px;
        border: solid 2px #c19aca;
        max-width: 450px;
        min-width: 200px;
    }

    h1 {
        font-size: 22px;
    }

    li>a {
        margin-right: 5px;
    }

    .current_page {
        border-right: 3px solid #debce6;
        border-bottom: transparent;
        padding-right: 2px;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    li>a:focus{
        border-bottom: transparent;
        padding-bottom: 0;
    }
}
